# {{ ansible_managed }}
[Interface]
Address = 10.0.0.8/32

PostUp = wg set %i private-key /etc/wireguard/privatekey
# Also ping the vpn server to ensure the tunnel is initialized
PostUp = ping -c1 10.0.0.1

[Peer]
PublicKey = {{ server_pubkey }}

Endpoint = home.felixscherz.me:51820

AllowedIPs = 10.0.0.0/24

PersistentKeepalive = 25
