# {{ ansible_managed }}
[Unit]
Description=OpenCode Web Server
After=network-online.target

[Service]
Type=simple
User=felix
WorkingDirectory=/home/felix/repositories
# Environment="OPENCODE_SERVER_USERNAME={{ home.opencode.username }}"
# Environment="OPENCODE_SERVER_PASSWORD={{ home.opencode.password }}"
ExecStart=/home/felix/.opencode/bin/opencode web --hostname {{ home.opencode.hostname }} --port {{ home.opencode.port }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
